  * {
  box-sizing: border-box;  
  font-family: "Phetsarath", "Noto Sans Lao", sans-serif !important;
}
body {
  font-family: "Phetsarath", "Noto Sans Lao", sans-serif !important;
}


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}
input{
  width:'20%'
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.ContorllerTextBox {
  display: flex;
  flex-direction: row;
  float: left;
  padding: 20px;
  }
  .ContorllerTextBox:after {
    content: "";
    display: table;
    clear: both;

  }
  
  @media screen and (min-width: 430px) {
    .ContorllerTextBox {
      flex-direction: column;
      width: 100%;

        }
  }
  
  @media screen and (max-width: 992px) {
    .ContorllerTextBox {
      flex-direction: column; 
      width: 50%;
    }
      .column {
    width: 50%;
  }
  } 
  
  @media screen and (max-width: 600px) {
    .ContorllerTextBox {
      flex-direction: column;
      width: 100%;

    
    
    }
    .ContorllerButton{

      flex-direction: column;

    }
  
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  }
.day{
  margin: 10px;
  background-color: aqua;
}